footer.footer
    .container
        .footer__content
            .footer__content-text
                | © 2020 — Дмитрий Кудлович, 
                br.breake
                | Алеся Константинова
            .footer__content-imges
                .footer-img
                    img(src="./img/rabbit-footer.png" alt="rabbit")
                .footer-img
                    img(src="./img/turtle-footer.png" alt="turtle")
                .footer-img
                    i(class="fas fa-dollar-sign")