header.header
    .container
        section.page-title
            .logo
                .logo__img
                    i(class="fas fa-dollar-sign")
                .logo__text Dima'n'Alesya Inc
            h1.header-title Финансовое творчество
