main.main
    .container
        section.page-title
            h2.main-title Быстро едешь – больше рискуешь!
        section.main__content
            .main__content-row
                .main__content-img
                    img(src="./img/1.jpg" alt="1")
                .main__content-img
                    img(src="./img/diag1.png" alt="diag1")
                    .diag-date 2018 год
                    .legend
                        .legend-line.spx
                        .legend-text SPX
                    .legend
                        .legend-line.turtle
                        .legend-text Доходность инвестиций черепахи
                    .legend
                        .legend-line.rabbit
                        .legend-text Доходность инвестиций зайца

            section.page-title
                h3.section-title Через два года...
            .main__content-row
                .main__content-img
                    img(src="./img/diag2.png" alt="diag2")
                    .diag-date
                        p 2018 год
                        p 2019 год
                        p 2020 год
                    .legend
                        .legend-line.spx
                        .legend-text SPX
                    .legend
                        .legend-line.turtle
                        .legend-text Доходность инвестиций черепахи
                    .legend
                        .legend-line.rabbit
                        .legend-text Доходность инвестиций зайца
                .main__content-img
                    img(src="./img/2.jpg" alt="2")
