extends ./../layouts/main.pug

block variables
    - const title = "Фин. творчество";


block content
    include ../sections/header.pug
    include ../sections/main.pug
    include ../sections/footer.pug
